/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* https://www.colorbox.io/#steps=6#hue_start=341#hue_end=359#hue_curve=easeInQuad#sat_start=37#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=61#lum_curve=easeOutQuad#minor_steps_map=0 */
:root {
  --ifm-color-primary-lightest: #ff84ab;
  --ifm-color-primary-lighter: #fd5d8e;
  --ifm-color-primary-light: #fb3671;
  --ifm-color-primary: #f00040;
  --ifm-color-primary-dark: #de002d;
  --ifm-color-primary-darker: #c00016;
  --ifm-color-primary-darkest: #9c0003;

  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-background-color: #1f0f0f;
  --ifm-background-surface-color: #381414;
  --ifm-toc-border-color: #643232;
  --ifm-color-secondary: #d8d8d8;
  --ifm-color-success: #6bb878;
  --ifm-color-info: #a6a7e9;
  --ifm-color-warning: #e2cf61;
  --ifm-color-danger: #ff2a2a;
  --ifm-link-color: rgb(255, 74, 74);
}

html[data-theme='dark'] .footer {
  background-color: var(--ifm-background-surface-color);
}

/* Hide dark logo and show light one, in dark mode. */
html[data-theme='dark'] .navbar__logo {
  background-image: url(/img/logo-white.svg);
  background-size: 100%;
  object-position: 100px;
}

html[data-theme='dark'] .admonition {
  background-color: transparent;
  color: var(--ifm-font-color-base);
  border-width: 3px;
  --ra-admonition-icon-color: var(--ifm-font-color-base);
}

html[data-theme='dark'] .alert a {
  color: var(--ifm-link-color);
  text-decoration: inherit;
}

html[data-theme='dark'] .alert a:hover {
  text-decoration: underline;
}

.docusaurus-highlight-code-line {
  background-color: rgb(36, 53, 94);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.code-wrapper {
  /* padding: 5px 0 5px 0; */
  border-bottom: 1px solid #6e6e6e;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.code-header {
  width: 100%;
  background: #1E1E1E;
  border-top: 1px solid #6e6e6e;
  padding-left: 10px;
  color: #929292;
  font-variant: small-caps;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.code-header .buttons {
  float: right;
}

.code-header .buttons a {
  color: rgb(165, 165, 165);
  margin-right: 10px;
}

.code-header .buttons a:hover {
  color: rgb(214, 214, 214);
}
