/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* https://www.colorbox.io/#steps=6#hue_start=341#hue_end=359#hue_curve=easeInQuad#sat_start=37#sat_end=100#sat_curve=easeOutQuad#sat_rate=130#lum_start=100#lum_end=61#lum_curve=easeOutQuad#minor_steps_map=0 */
:root {
  --ifm-color-primary-lightest: #ff84ab;
  --ifm-color-primary-lighter: #fd5d8e;
  --ifm-color-primary-light: #fb3671;
  --ifm-color-primary: #f00040;
  --ifm-color-primary-dark: #de002d;
  --ifm-color-primary-darker: #c00016;
  --ifm-color-primary-darkest: #9c0003;

  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-background-color: #1f0f0f;
  --ifm-background-surface-color: #381414;
  --ifm-toc-border-color: #643232;
  --ifm-color-secondary: #d8d8d8;
  --ifm-color-success: #6bb878;
  --ifm-color-info: #a6a7e9;
  --ifm-color-warning: #e2cf61;
  --ifm-color-danger: #ff2a2a;
}

html[data-theme='dark'] .footer {
  background-color: var(--ifm-background-surface-color);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
