scopeName: 'source.raven'
fileTypes: ['rv']
name: 'Raven'
patterns: [
  {
    begin: '[A-Za-z]+\\b(?![ ]*[\\+\\-\\*/><\\=,])(?=[^{}#]*{)'
    beginCaptures:
      0:
        name: "keyword.other.raven"
    end: '{'
    patterns: [
      {include: "#expr"}
    ]
  }
  {include: "#expr"}
]
repository:
  expr:
    patterns: [
      {
        match: "\\b[0-9]+\\.?[0-9]*\\b"
        name: "constant.numeric.raven"
      }
      {
        begin: '#'
        beginCaptures:
          0:
            name: 'punctuation.definition.comment.raven'
        end: '$'
        name: 'comment.line.hash.raven'
      }
      {
        name: "string.quoted.double.raven"
        begin: '"'
        beginCaptures:
          "0":
            name: "punctuation.definition.string.begin.raven"
        end: '"'
        endCaptures:
          "0":
            name: "punctuation.definition.string.end.raven"
      }
      {
        begin: "(```)(html)"
        beginCaptures:
          1:
            name: "punctuation.definition.quote.begin.raven"
          2:
            name: "support.function.macro.raven"
        end: "```"
        endCaptures:
          "0":
            name: "punctuation.definition.quote.end.raven"
        patterns: [
          {include: "text.html.basic"}
        ]
      }
      {
        begin: "(html)(`)"
        beginCaptures:
          1:
            name: "support.function.macro.raven"
          2:
            name: "punctuation.definition.quote.begin.raven"
        end: "`"
        endCaptures:
          "0":
            name: "punctuation.definition.quote.end.raven"
        patterns: [
          {include: "text.html.basic"}
        ]
      }
      {
        match: '`+'
        name: "punctuation.definition.quote.raven"
      }
      {
        name:"keyword.other.raven"
        match: "return|break|continue"
      }
      {
        name: "keyword.operator.relation.raven"
        match: "::"
      }
      {
        name: "keyword.operator.arithmetic.raven"
        match: "[\\+|-|\\*|/|>|<]+"
      }
      {
        name: "keyword.operator.other.raven"
        match: "&"
      }
      {
        name: "keyword.operator.update.raven"
        match: "="
      }
    ]
